.card {
  max-width: 500px;
  margin: 0 auto;
}

mat-card {
  margin: 20px 0;
}

.form_align{
  margin-left: 25%;
}

.form_item {
  width: auto;
}

mat-form-field {
  width: 67%;
}

.form_buttons button {
  margin-right: 20px;
}
