.card {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }

.form_item {
    width: auto;
  }

  input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  button{
      margin: 5px;
  }