<div  class="card">
    <mat-card>
        <strong>* required field</strong>            
        <form [formGroup]="form">
            
            <div class="form_item">
                <mat-form-field appearance="fill">
                    <mat-label>Old Password: </mat-label>
                    <input matInput required type="password" 
                        formControlName="oldPassword">
                </mat-form-field>
            </div>
            <mat-error *ngIf="(oldPassword?.dirty || oldPassword?.touched) && form?.invalid">
                <div class="error">
                  <mat-error *ngIf="oldPassword?.errors?.required">
                    Old Password  is <strong>required</strong>
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="oldPassword?.errors?.minlength">
                    Old Password must be <strong>longer than {{oldPassword?.errors?.minlength?.requiredLength}} </strong> characters
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="oldPassword?.errors?.maxlength">
                    Old Password must be <strong>less than {{oldPassword?.errors?.maxlength?.requiredLength}} </strong> characters
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="oldPassword?.errors?.whitespace">
                    Old Password should not consist of <strong>whitespaces {{oldPassword?.errors?.invalidOldPassword}}</strong>
                  </mat-error>
                </div>
                <div class="error">
                    <mat-error *ngIf="oldPassword?.errors?.invalidOldPassword">
                      Old Password is <strong>invalid</strong>
                    </mat-error>
                  </div>
                  <div class="error">
                    <mat-error *ngIf="oldPassword?.errors?.pattern && !oldPassword?.errors?.minlength">
                      Old Password should contain small and capital latin characters, numbers and special characters
                    </mat-error>
                  </div>
                </mat-error>
                
            
            <div class="form_item">
                <mat-form-field appearance="fill">
                    <mat-label>New Password: </mat-label>
                    <input matInput required type="password" 
                        formControlName="newPassword">
                </mat-form-field>
            </div>
            <mat-error *ngIf="(newPassword?.dirty || newPassword?.touched) && form?.invalid">
                <div class="error">
                  <mat-error *ngIf="newPassword?.errors?.required">
                    New Password  is <strong>required</strong>
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="newPassword?.errors?.minlength">
                    New Password must be <strong>longer than {{newPassword?.errors?.minlength?.requiredLength}} </strong> characters
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="newPassword?.errors?.maxlength">
                    New Password must be <strong>less than {{newPassword?.errors?.maxlength?.requiredLength}} </strong> characters
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="newPassword?.errors?.whitespace">
                    New Password should not consist of <strong>whitespaces</strong>
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="newPassword?.errors?.pattern && !newPassword?.errors?.minlength">
                    New Password should contain small and capital latin characters, numbers and special characters
                  </mat-error>
                </div>
                </mat-error>

            <div class="form_item">
                <mat-form-field appearance="fill">
                    <mat-label>Confirm password</mat-label>
                        <input matInput required type="password" 
                            formControlName="confirmPassword">
                </mat-form-field>
            </div>
            <mat-error *ngIf="(confirmPassword?.dirty || confirmPassword?.touched) && form?.invalid">
                <div class="error">
                  <mat-error *ngIf="confirmPassword?.errors?.required">
                    Confirm password  is <strong>required</strong>
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="confirmPassword?.errors?.minlength">
                    New Password must be <strong>longer than {{confirmPassword?.errors?.minlength?.requiredLength}} </strong> characters
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="confirmPassword?.errors?.maxlength">
                    Confirm password must be <strong>less than {{confirmPassword?.errors?.maxlength?.requiredLength}} </strong> characters
                  </mat-error>
                </div>
                <div class="error">
                  <mat-error *ngIf="confirmPassword?.errors?.whitespace">
                    Confirm password should not consist of <strong>whitespaces</strong>
                  </mat-error>
                </div>
                <div class="error">
                    <mat-error *ngIf="form?.errors?.passwordsShouldMatch">
                      Passwords should <strong>match</strong>
                    </mat-error>
                  </div>
                  <div class="error">
                    <mat-error *ngIf="confirmPassword?.errors?.pattern && !confirmPassword?.errors?.minlength">
                      Confirm Password should contain small and capital latin characters, numbers and special characters
                    </mat-error>
                  </div>
                </mat-error>

            <div>
                <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Save</button>
                
                <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
              </div>
        </form>
    </mat-card>

    
</div>

