form{
    max-width: 60%;
    min-width: 60%;
    margin: 10% auto;
}

div{
    margin: 8px;
    padding: 8px;
    text-align: center;
}

button{
    margin: 5px;
    padding: 5px;
}

label{
    font-size: medium;
}
input{
    margin: 0 10px;
    padding: 0 10px;
}

.error{
    margin: 0px;
    padding: 0px;
}
