<div class="container">
<mat-card class="main-card">
<form [formGroup]="clientForm"  (ngSubmit)="onSubmit()"  autocomplete="off">
    <div class='form-group'>   
         <h1 class="text-center text-primary">Signing up</h1>
    </div>
    <div class="form-group">

        <div class="error" *ngIf="isControlInvalid('userName')">
            <p>User name cannot be empty</p>
            <p>User name max length is 30</p>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput required  type="text" name="userName"  formControlName="userName" >
        </mat-form-field>

    </div>

    <div class="form-group">
        
        <div class="error" *ngIf="isControlInvalid('firstName')">
            <p>First name cannot be empty</p>
            <p>First name max length is 30</p>
        </div>
        
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput required  type="text" name="firstName"  formControlName="firstName" >
        </mat-form-field>

    </div>

    <div class="form-group">
        <div class="error" *ngIf="isControlInvalid('lastName')">
            <p>Last name cannot be empty</p>
            <p>Last name max length is 30</p>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput required  type="text" name="lastName"  formControlName="lastName" >
        </mat-form-field>

    </div>

    <div class="form-group">

        <div class="error" *ngIf="isControlInvalid('email')">
            <p>Email cannot be empty</p>
            <p>Email has to match '..@..' format</p>
            <p>Email max length is 50</p>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput required  type="text" name="email"  formControlName="email">
        </mat-form-field>

    </div>

    <div class="form-group">

        <div class="error" *ngIf="isControlInvalid('phoneNumber')">
            <p>Phone number cannot be empty</p>
            <p>Phone number must have exactly 12 digits</p>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput required  type="text" name="phoneNumber"  formControlName="phoneNumber" >
        </mat-form-field>

    </div>

    <div class="form-group">

        <div class="error" *ngIf="isControlInvalid('password')">
            <p>Password cannot be empty</p>
            <p>Password must contain at least one symbol in upper case,<br>
            one digit and one special symbol</p>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput required  type="password" name="password"  formControlName="password" >
        </mat-form-field>
    </div>

    <div class="form-group">

        <div class="error" *ngIf="isControlInvalid('repeatedPassword')">
            <p>Password cannot be empty</p>
            <p>Password must contain at least one symbol in upper case,<br>
            one digit and one special symbol</p>
            <p>Repeated password must be same as password</p>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Repeated password</mat-label>
            <input matInput required  type="password" name="repeatedPassword"  formControlName="repeatedPassword" >
        </mat-form-field>
    </div>

    <div class="form-group">   
            <label></label>     
            <button id="register-button" class="form-button" mat-raised-button color="primary"  type="submit">Register</button>
              
            <button id="cancel-button" class="form-button"  mat-raised-button color="warn" (click)="cancel()" type="button">Cancel</button>      
 
            <div class="error">
            </div>       
   </div>
</form>
</mat-card>
</div>
