.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img {
  height: 50px;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar a {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.toolbar {
  display: flex;
}

.toolbar div {
  margin: auto;
}

.menu_icon {
  margin-top: 15px;
}

.authButtons {
  margin: 0 10px;
}
