.appointment-container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header {
    justify-content: flex-start;
}

.mat-expansion-panel-header {
    padding: 40px 20px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.664);
    border-radius: 0px;
}

.mat-expansion-panel-body {
    padding: 0 24px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 20px;
}

.header-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 7px;
}

.description {
    margin: 10px 0;
}

.price {
    align-self: center;
    justify-self: end;
    font-size: large;
    margin: 16px 50px 0;
}

.doctor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.doctor-select {
    margin-left: 10px;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.actions button {
    margin-right: 10px;
}
