/* notification */
snack-bar-container.success{
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.info{
  background-color: #5cb0b8;
  color: #fff;
}

snack-bar-container.warn{
  background-color: #f99157;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}
